---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Headear from '../components/Headear.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main class="text-center max-h-4 gap-2	">
		<section class="flex items-center gap-6 max-w-4xl m-auto	">
			<div>
				<img src="/Hampic.png" 
				 class="rounded-full  scale-x-[-1] mr-2 object-contain"/>
			</div>
			<div class = "text-left">
			<h1 class= "text-6xl gradient inline-block text-transparent bg-clip-text bg-gradient-to-r from-purple-400 via-slate-500 to-indigo-700">Hola, soy Hamlet Lizama</h1>
			<h2 class="font-semibold text-cyan-800" >Desarollador Junior Fullstack</h2>
			<h3 class= "w-96 m-auto text-xl"> 

				Soy un apasionado desarrollador de software de 18 años con una conexión única con la tecnología desde los 12. Actualmente estudio Ingeniería en Sistemas Computacionales, donde mantengo un desempeño académico destacado. Con dos años de experiencia programando, he perfeccionado mis habilidades en el diseño y desarrollo de soluciones innovadoras. Mi amor por las computadoras trasciende el aula; disfruto explorar nuevas tecnologías, enfrentar desafíos complejos y construir proyectos que marquen la diferencia. Estoy comprometido con el aprendizaje continuo y preparado para contribuir con creatividad y excelencia en el mundo de la programación.  
				
			</h3>

			</div>
		</section>

	</main>
	  
</Layout>
