---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Welcome to Astro.">
	<main class="text-center max-h-4 gap-2	">
		<section class="flex items-center gap-6 max-w-4xl m-auto	">
			<div>
                <button onclick="Redirect()">Centlogic</button>
				<img src="/centlogic.png " alt="Foto-Centlogic" >
				<p>Centlogic es un software CRUD de gestion de negocios enfocado en PYMES		</p>
                <script>
                    function Redirect(){
                        window.location.replace('https.centlogic.neaxture.com');
                    }
                </script>

			</div>

			<h3 class= "w-96 m-auto text-xl"> 

				
			</h3>

			</div>
		</section>

	</main>
	  
</Layout>
